<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.RoleMapper">

    <!--查询所有角色（条件）-->
    <select id="findAllRole" parameterType="com.lagou.domain.Role" resultType="com.lagou.domain.Role">
        select * from roles
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>


    <!--根据角色ID查询角色关联的菜单信息ID-->
    <select id="findMenuByRoleId" resultType="int" parameterType="int">
        SELECT m.id
            FROM roles r INNER JOIN role_menu_relation rm ON r.id = rm.role_id
                INNER JOIN menu m ON m.id = rm.menu_id WHERE r.id = #{id}
    </select>

    <!--根据roleid删除在中间表与菜单的关联关系-->
    <delete id="deleteRoleContextMenu" parameterType="int">
        delete from role_menu_relation where role_id = #{rid}
    </delete>

    <!--为角色分配菜单-->
    <insert id="roleContextMenu" parameterType="com.lagou.domain.Role_menu_relation">
        insert into role_menu_relation values (null,#{menuId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!--删除角色-->
    <delete id="deleteRole" parameterType="int">
        delete from roles where id = #{roleid}
    </delete>


    <!--方法1：查询当前角色拥有的资源分类信息-->
    <select id="findResourceCategoryListByRoleId" parameterType="int" resultType="com.lagou.domain.ResourceCategory">
        SELECT distinct rc.*
from
roles r inner join role_resource_relation rrr on r.id  = rrr.role_id
		inner join resource rs on rs.id = rrr.resource_id
		inner join resource_category rc on rs.category_id = rc.id where r.id = #{id}
    </select>

    <!--方法2：查询当前角色拥有的资源信息-->
    <select id="findResourceByCategoryId" parameterType="int" resultType="com.lagou.domain.Resource">
        SELECT * from resource WHERE category_id = #{categoryId}
    </select>


    <!--方法1 根据角色ID 删除角色与资源的关联关系(操作中中间表 role_resource_relation)-->
    <delete id="deleteRoleResourceRelation" parameterType="int">
        DELETE from role_resource_relation where role_id = #{roleId}
    </delete>

    <!--方法2 为角色分配资源, 删除完成后 ,插入最新的关联关系-->
    <insert id="roleContextResource" parameterType="com.lagou.domain.RoleResourceRelation">
        INSERT into
role_resource_relation values(
null,#{resourceId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>


</mapper>